/* @format */

body {
  margin: 4rem auto;
  max-width: 44rem;
  line-height: 1.6;
  font-family: monospace;
  font-size: 20px;
  color: #444;
  padding: 0 1rem;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

img {
  max-width: 100%;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    filter: invert(90%) hue-rotate(25deg);
  }
}
